@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
*/
body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background: rgba(144, 144, 144, 0.35);
}

.container {
    padding: 25px;
    position: center;
    margin-top: 50px;
}
.container.box{
    background: #F9F9F9;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

fieldset {
    padding: 10px 5px;
    background: #F9F9F9;
    border:1px solid #cbcbcb;
    border-radius:5px;
}
fieldset legend {
    border:0;
    font-size:14px;
    font-weight:bold;
    margin:0;
    padding:0 5px;
    width:auto;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content {
    text-align: center;
}

input.cbtn  {
    display: none;
}

.obrigatorio {
    border-color: rgba(255, 0, 0, 0.45)
}
.obrigatorio span {
    color: red;
}

.loading {
    position: fixed;
    z-index:99999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:1;
    background-color:#fff;
    background:url(../images/loading.svg) center no-repeat rgba(255,255,255,0.7);
    background-size:10%;
    background-position:center;
    background-repeat:no-repeat;
    display:none;
}

.material-icons.bicon {
    font-size: 2.5em;
    padding: 0 0.1em 0 0.1em;
}

